body {
    line-height: 34px;
    color: #777;
    background: url("../images/letters.png");
    background-size: 100%;
}

* {
    box-sizing: border-box;
}

#game-container {
    width: 100%;
    text-align: center;
    font-family: 'Fruktur', cursive;
    color: #a82d52;
}
h1{
    font-size: 60px;
}
h2 {
    font-size: 40px;
}

p {
    font-size: 30px;
    line-height: 20px;
}